# Standard ignores
.DS_Store
.localized
Thumbs.db

# Hosting ignores
/.ftpquota
/cgi-bin
/error_log

# Ignore .htaccess to avoid environment issues
/.htaccess

# Ignore database archive
/database

# Ignore database settings
system/cms/config/database.*

# Ignore CMS logs
system/cms/logs/log-*.php