# Standard ignores
.DS_Store
.localized
Thumbs.db

# Hosting ignores
/.ftpquota
/cgi-bin
/error_log

# Ignore .htaccess to avoid environment issues
/.htaccess

# Ignore uploads folder
/uploads

# Ignore database settings
system/cms/config/database.php

# Ignore CMS logs
system/cms/logs/log-*.php

# Ignore node_modules
node_modules/