						<!-- Properties Sub-Navigation -->
						<div id="properties-navigation" class="text-center">
							<h5>
								Find Your Perfect<br />
								<span>Winter Park Resort</span><br />
								Vacation Lodging.
							</h5>
							<h6>Start Here<span class="fa fa-chevron-down" aria-hidden="true"></span></h6>
							<ul class="list-unstyled">
								{{ navigation:links group="default-side-column-navigation" max_depth="1" indent="tab" }}
							</ul>
						</div>
						<!-- /Properties Sub-Navigation -->