		<!-- Header -->
		<div id="header-wrapper" class="position-relative text-center">
			<div class="container">
				<div class="row">
					<header class="clearfix col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12 col-md-12 col-lg-12">
						
						<!-- Logo -->
						<a class="logo-container margin-auto" href="{{ url:base }}">{{ theme:image file="logo-full.png" class="img-responsive" alt="Access Winter Park - Winter Park Lodging & Vacation Rentals" }}</a>
						<!-- /Logo -->
						
						<!-- Contact Navigation -->
						<ul class="clearfix list-unstyled margin-auto">
							<li><a href="tel:{{ variables:phone }}"><span class="fa fa-phone" aria-hidden="true" title="Call Us"></span>{{ variables:phone }}</a></li>
							<li><a href="#footer"><span class="fa fa-envelope-o" aria-hidden="true" title="Contact Us"></span>Contact Us</a></li>
						</ul>
						<!-- /Contact Navigation -->
					
					</header>
				</div>
			</div>
		</div>
		<!-- /Header -->